{% extends 'employee/base.html' %}

{% block content %}


<div class="d-flex">
    <div>
        <img src={{ emp.profile.image.url }} alt="" class="rounded-circle account-img">
    </div>
    <div>
        <h2>{{ emp.fName }} {{ emp.lName }}</h2>
        <h4>{{ emp.title }}</h4>
    </div>
</div>


{% if user.is_superuser or emp == user.employee %}
<aside class="actions">
    <a class="btn btn-default" href="{% url 'emp_edit' pk=emp.empID %}" data-toggle="tooltip" title="Edit Employee">
        {% include './icons/pencil-fill.svg' %}
    </a>
    <a class="btn btn-default" href="{% url 'emp_remove' pk=emp.empID %} " data-toggle="tooltip"
        title="Delete Employee">
        {% include './icons/x.svg' %}
    </a>
</aside>
{% endif %}

{% if user.is_superuser or emp == user.employee %}
<a class="btn btn-default" href="{% url 'profile_edit' pk=emp.empID %} " data-toggle="tooltip" title="Edit Profile">
    Edit Profile
</a>

{% endif %}



<h4 class="emp_info">Email: {{ emp.email }}</h4>
<h4 class="emp_info">Reports To: {{ emp.manager }}</h4>
<h4 class="emp_info">Department: {{ emp.deptID }}</h4>


<!-- Only display if admin or user -->
{% if user.is_superuser or emp == user.employee %}
<h4 class="emp_info">Username: {{ emp.username }}</h4>
<h4 class="emp_info">Salary: ${{ emp.salary }}</h4>
<h4 class="emp_info">Employee ID: {{ emp.empID }}</h4>
{% endif %}

<br>
<br>

{% if not emp.profile.description == "" %}
<h4 class="emp_info">About Me...</h4>
<pre class="description">{{ emp.profile.description }}</pre>
{% endif %}

<br>
<br>
<br>

<h3>My Leave Requests</h3>

<table class="table table-dark">
    <tr class="tableRow">
        <th class="tableHeader">Request ID</th>
        <th class="tableHeader">Employee ID</th>
        <th class="tableHeader">Name</th>
        <th class="tableHeader">Start Date</th>
        <th class="tableHeader">End Date</th>
        <th class="tableHeader">Status</th>
    </tr>

    {% for leave_request in leave_requests %}
    <tr class="tableRow">
        <td><a href="{% url 'leave_detail' pk=leave_request.pk %}">{{ leave_request.pk }}</a></td>
        <td>{{ leave_request.employee.empID }}</td>
        <td>{{leave_request.employee}}</td>
        <td>{{ leave_request.start_date }}</td>
        <td>{{ leave_request.end_date }}</td>
        <td>{{ leave_request.status }}</td>
    </tr>
    {% endfor %}
</table>

<!-- Gives user the link to make a leave request -->
{% if user.is_superuser or emp == user.employee %}
<a class="profile-link" href="{% url 'leave_request' %}" data-toggle="tooltip" title="Request Days off">
    Leave Request
</a>
{% endif %}

<br>
<br>
<br>

<!-- Employee list if user is a manager -->
{% if employees %}

<h2>My Employees</h2>

<table class="table table-dark">
    <tr class="tableRow">
        <th class="tableHeader">Employee ID</th>
        <th class="tableHeader">Name</th>
        <th class="tableHeader">Title</th>
        <th class="tableHeader">Email</th>
        <th class="tableHeader">Salary</th>
        <th class="tableHeader">Manager</th>
        <th class="tableHeader">Department</th>
    </tr>

    {% for empployee in employees %}
    <tr class="tableRow">
        <td><a href="{% url 'emp_profile' pk=empployee.empID %}">{{ empployee.empID }}</a></td>
        <td>{{ empployee.fName }} {{ empployee.lName }}</td>
        <td>{{ empployee.title }}</td>
        <td>{{ empployee.email }}</td>
        <td>${{ empployee.salary }}</td>
        <td>{{ empployee.manager }}</td>
        <td>{{ empployee.deptID }}</td>
    </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}