{% extends 'employee/base.html' %}

{% block content %}



<div class="page_header">

    <div class="page_title">
        <h2>Employee Overview</h2>
    </div>

    <div class="page_icons">
        {% if user.is_authenticated %}
        <aside class="actions">

            <a href="{% url 'emp_new' %}" class="top-menu " data-toggle="tooltip" title="Add new employee">
                {% include './icons/file-earmark-plus.svg' %}
            </a>

        </aside>
        {% endif %}
    </div>

</div>


<table class="table table-dark">
    <tr class="tableRow">
        <th class="tableHeader">Employee ID</th>
        <th class="tableHeader">Name</th>
        <th class="tableHeader">Title</th>
        <th class="tableHeader">Email</th>
        <th class="tableHeader">Salary</th>
        <th class="tableHeader">Manager</th>

        <th class="tableHeader">Department</th>
    </tr>

    {% for emp in employees %}
    <tr class="tableRow">
        <td><a href="{% url 'emp_profile' pk=emp.empID %}">{{ emp.empID }}</a></td>
        <td>{{ emp.fName }} {{ emp.lName }}</td>
        <td>{{ emp.title }}</td>
        <td>{{ emp.email }}</td>
        <td>${{ emp.salary }}</td>
        <td>{{ emp.manager }}</td>
        <td>{{ emp.deptID }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}